<!DOCTYPE html>
<html lang="en">
  <head>
    
    <style>
    .justify {
      text-align: justify;
    }
    </style>

  </head>
  
  <body>
    
        
            <h3 class="text-muted"><center>"Ekstraksi Informasi Artikel"</center></h3>
            <h3 class="justify">Tentang Program dan Pembuat</h3>
            <hr/> 
            <p class="justify">Pembuat Program: </p>
            <p class="justify">Nama		: Fikra Hadi Ramadhan</p>
            <p class="justify">NIM		: 13518036</p>
            <p class="justify">Hal   	: Tugas Kecil 4 - Strategi Algoritma</p>
            <p class="justify">Judul	: Ekstraksi Informasi dari Artikel Berita dengan Algoritma Pencocokan String</p>
            <br>
            <p class="justify">Program Ekstraksi Informasi Artikel adalah sebuah program dimana pengguna bisa menggunakannya untuk mencari keyword pada banyak artikel sekaligus. Pengguna akan diminta untuk meng-upload beberapa file yang ingin digunakan, lalu memasukkan keyword yang ingin dicari pada file-file yang sudah di upload tersebut. Pengguna juga bisa memilih akan menggunakan algoritma KMP (Knuth-Morris-Pratt), BM (Boyer-Moore), atau Regex (Regular Expression). Jika algoritmanya benar, maka hasil yang dikeluarkan akan sama. Hasil yang ditampilkan adalah Jumlah(angka), Waktu, dan pada kalimat mana keywordnya ditemukan.</p>
            <p class="justify">Program ini memudahkan pengguna untuk mencari keyword yang diinginkan, tidak perlu memeriksa satu persatu ke artikel yang dimiliki.</p>
            
            
        
    
  </body>
</html>
