<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted"><center>"Ekstraksi Informasi Artikel"</center></h3>
      </div>
      <hr/>
      <div class="header">
        <h3 class="text-muted">File Berhasil di Upload</h3>
      </div>
      <form method="POST" action="hasil">
        <span><center>Metode: </center></span>
        <div>
          <center><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opsi1">
          <label for="inlineRadio1"><span>Knuth-Morris-Pratt(KMP)</span>   </label></center>
        </div>
        <div>
          <center><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opsi2">
          <label for="inlineRadio2"><span>Boyer-Moore(BM)</span>  </label></center>
        </div>
        <div>
          <center><input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="opsi3">
          <label for="inlineRadio2"><span>Regular Expression(Regex)</span>  </label></center>
        </div>
        <center><input name="pattern" placeholder="Masukan Keyword dan Tekan Enter"></center>
        
      </form>
      <hr/>    
      </div>
    </div>
  </body>
</html>
